*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background-color: rgb(red, green, blue);
    background-color: rgba(red, green, blue, 0.3);
    background: linear-gradient(green,red,blue);
} */
}
